body {
    overflow-x: hidden;
  }
  .logo {
    width: 100px; /* Sesuaikan dengan ukuran yang diinginkan */
    height: auto; /* Menggunakan 'auto' agar rasio aspek tetap terjaga */
  }
    .hero-section {
      height: 30vh;
      position: relative;
      overflow: hidden;
    }
    
    .hero-section img {
      width: 100%;
      height: 30vh; /* Ubah nilai ini sesuai dengan tinggi yang diinginkan */
      object-fit: cover;
    }
    .navbar {
        transition: background-color 0.3s ease-in-out;
      }
    
      .navbar.scrolled {
        background-color: white; /* Ubah sesuai dengan warna yang diinginkan saat di-scroll */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan jika diinginkan */
      }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); /* Warna hitam transparan */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: center;
    }
    
    .overlay-text {
      font-family: 'Times New Roman', Times, serif;
      font-size: 100px;
      text-align: center;
    }
    
  
    
    /************************ 
    Generic layout (demo looks)
    **************************/
    
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
    
    .articles {
      display: grid;
      max-width: 1200px;
      margin-inline: auto;
      padding-inline: 24px;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      gap: 24px;
    }
    
    @media screen and (max-width: 960px) {
      article {
        container: card/inline-size;
      }
      .article-body p {
        display: none;
      }
    }
    
    @container card (min-width: 380px) {
      .article-wrapper {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 16px;
      }
      .article-body {
        padding-left: 0;
      }
      figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      figure img {
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
      }
    }
    
    .sr-only:not(:focus):not(:active) {
      clip: rect(0 0 0 0); 
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap; 
      width: 1px;
    }
    
  
    
    #wrapper {
      width: 100%;
      max-width: 964px;
      position: relative;
    }
    
    #carousel {
      overflow: auto;
      scroll-behavior: smooth;
      scrollbar-width: none;
    }
    
    #carousel::-webkit-scrollbar {
      height: 0;
    }
    
    #prev,
    #next {
      display: flex;
      justify-content: center;
      align-content: center;
      background: white;
      border: none;
      padding: 8px;
      border-radius: 50%;
      outline: 0;
      cursor: pointer;
      position: absolute;
    }
    
    #prev {
      top: 50%;
      left: 0;
      transform: translate(50%, -50%);
      display: none;
    }
    
    #next {
      top: 50%;
      right: 0;
      transform: translate(-50%, -50%);
    }
    
    #content {
      display: grid;
      grid-gap: 16px;
      grid-auto-flow: column;
      margin: auto;
      box-sizing: border-box;
    }
    
    .item {
      width: 180px;
      height: 180px;
      background: green;
    }
    
    .footer-section{
      height: 30vh;
    }
    
    .footer {
      position: relative;
      width: 100%;
      margin-top: 21%;
      background: #3E4149;
      min-height: 100px;
      padding: 62px 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    
    .social-icon,
    .menu {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      flex-wrap: wrap;
    }
    
    .social-icon__item,
    .menu__item {
      list-style: none;
    }
    
    .social-icon__link {
      font-size: 2rem;
      color: #fff;
      margin: 0 10px;
      display: inline-block;
      transition: 0.5s;
    }
    .social-icon__link:hover {
      transform: translateY(-10px);
    }
    
    .menu__link {
      font-size: 1.2rem;
      color: #fff;
      margin: 0 10px;
      display: inline-block;
      transition: 0.5s;
      text-decoration: none;
      opacity: 0.75;
      font-weight: 300;
    }
    
    .menu__link:hover {
      opacity: 1;
    }
    
    .footer p {
      color: #fff;
      margin: 15px 0 10px 0;
      font-size: 1rem;
      font-weight: 300;
    }
    
    .wave {
      position: absolute;
      top: -100px;
      left: 0;
      width: 100%;
      height: 100px;
      /* background: url("https://i.ibb.co/wQZVxxk/wave.png"); */
      background: url("/img/wave1.png");
      background-size: 1000px 100px;
    }
    
    .wave#wave1 {
      z-index: 1000;
      opacity: 1;
      bottom: 0;
      animation: animateWaves 4s linear infinite;
    }
    
    .wave#wave2 {
      z-index: 999;
      opacity: 0.5;
      bottom: 10px;
      animation: animate 4s linear infinite !important;
    }
    
    .wave#wave3 {
      z-index: 1000;
      opacity: 0.2;
      bottom: 15px;
      animation: animateWaves 3s linear infinite;
    }
    
    .wave#wave4 {
      z-index: 999;
      opacity: 0.7;
      bottom: 20px;
      animation: animate 3s linear infinite;
    }
    
    @keyframes animateWaves {
      0% {
        background-position-x: 1000px;
      }
      100% {
        background-positon-x: 0px;
      }
    }
    
    @keyframes animate {
      0% {
        background-position-x: -1000px;
      }
      100% {
        background-positon-x: 0px;
      }
    }
  
    .about-section{
      height:60vh;
    }
  
    .b-img1{
       background: url("/img/visi.jpg");
  
    min-height: 1000px; 
    opacity: 0.65;  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .b-img2{
      background: url("/img/P1.jpg");
 
   min-height: 200px; 
    opacity: 0.65;  
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   }

   .b-img3{
    background: url("/img/visi.jpg");

    min-height: 500px; 
    opacity: 0.65;  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .caption-title{
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      text-align: center;
      color: black;
    }

    .caption-title span.border{
      background-color: #3E4149;
      color: #fff;
      padding: 18px;
      font-size: 25px;
      letter-spacing: 10px;
    }
    .about-title{
      font-size: 50px;
      font-family: 'Times New Roman', Times, serif;
      padding-left: 5%;
      padding-top: 5%;
    }
  
    .choice {
      margin-bottom: 10px;
      font-family: 'Times New Roman', Times, serif;
      font-size: 30px;
      font-weight: bold;
      cursor: pointer;
      color: black;
      border-bottom: 1px solid black; /* Garis bawah untuk setiap pilihan */
      padding-bottom: 5px; /* Jarak antara teks dan garis bawah */
  }
  
  .choice:hover {
      color: black;
  }
  
  .description {
      display: none;
      margin-top: 10px;
  }
  
  .visi {
      max-width: 70%;
      font-size: 50px;
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
      margin: 50px auto;
      padding: 20px;
  
  }